@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.track {
    display: flex;
    flex: 0 1 auto;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-size: cover;
    background-position-x: 50%;

    & &-content {
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        overflow-y: hidden;
    }

    & &-content &-popularity {
        display: flex;
        flex: 0 1 auto;
        justify-content: center;
        background-color: rgba($dark, 0.5);
        height: 100%;
        transform: translateY(100%);
        z-index: 1000;

        h3 {
            text-align: center;
            color: $light;
        }
    }

    & &-content &-info {
        display: flex;
        width: 100%;
        flex: 0 1 auto;
        justify-content: center;
        align-items: baseline;
        background-color: $light;
        z-index: 1050;

        h1,
        p {
            padding: 0 4px;
        }
    }
}