@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$toto: #9c1425cc;
$weezer: #35481fcc;

.track {
    display: flex;
    flex: 0 1 auto;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-size: cover;
    background-position-x: 50%;

    & &-content {
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    & &-content &-popularity {
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        transform: translateX(-100%);
        color: $light;
        z-index: 1000;

        h3 {
            padding-right: 1rem;
            font-size: 80%;
            text-align: right;
        }

        h1 {
            font-size: 10rem;
            line-height: 8rem;
        }

        @include media-breakpoint-up(lg) {
            align-items: center;
            justify-content: flex-start;
            transform: translateY(100%);

            h3 {
                padding-right: 0;
                font-size: 100%;
            }

            h1 {
                font-size: 14rem;
                line-height: 10rem;
            }
        }
    }

    & &-content &-popularity &-info {
        display: inline-block;
        max-width: 10rem;
        padding-right: 1rem;
        background-color: transparent;
        font-size: 0.8rem;
        z-index: 1050;

        a {
            color: $light;
            font-weight: bold;
        }

        @include media-breakpoint-up(lg) {
            max-width: 100%;
            padding-right: 0;
        }
    }

    &.toto &-content &-popularity {
        background-color: $toto;
    }

    &.weezer &-content &-popularity {
        background-color: $weezer;
    }
}